doctype html
html
	head
		title=title

	block body
		h1= text
		p= message

		form(method='POST', action='/login')
			input#Usernameinput(type="text", name="username")
			input#Passwordinput(type="text", name="password")
			button(type='submit') Submit

script(src="scripts/flash-client.js")
