html
	head
		title=title 
		
	block body
		h1= text
		p= message	
		
		form(action="/template1", method="Post")
		form.login
			input#username
			input#password
			button(onclick="submit") login
	block postscript
		script(src="js/template1.js")


		
